*{
    font-family: 'Roboto', sans-serif;
    color: #363958;
}
h1{
    font-family: 'Bebas Neue', cursive;
}
button{
    background-color: rgb(142, 173, 16);
    border: none;
}
header{
    background-color: #FFFBF0;
}
h5, h3{
    font-weight: bold;
}
h3{
    color: #FABE4C;
}
.penguin-card{
    border: 0;
}
.penguin-card-footer{
    background-color: white;
    border: 0;
} 
.smalling{
    width: 74%;
    margin: auto;
}
.smalling1{
    width: 80%;
    margin: auto;
}
.smalling2{
    width: 80%;
    margin: auto;
}
.smalling3{
    width: 73%;
    margin: auto;
}
.Logo img{
    width: 70%;
}
footer{
    text-align: center;
}